td {
	border: 10px solid #BBADA0;
  width: 212px;
  height: 212px;
  font-size: 80px;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
  	/* width: 800px;
    height: 800px; */
  	background-color: #CDC0B4;
  	text-align: center;
}
#score{
	width: 150px;
 	height: 80px;
  text-align: center;
	font-size: 20px;
	border-radius: 5px;
	background-color: #BBADA0;
}
#best {
	width: 150px;
	height: 80px;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
	background-color: #BBADA0;
  transition: 1s;
}
#gameOverArea {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  width: 300px;
  height: 136px; 
  display: none;
  top: 50%;
}

#winArea {
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  width: 400px;
  height: 136px;
  top: 50%;
  display: none;
}

.btnTryAgain{
	width: 150px;
  	height: 60px;
  	font-size: 25px;
}


#unre-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* .move {
  animation: 
} */

/* Animation for moving cells */
@keyframes moveleft2{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(200px);opacity: 0;}
}
@keyframes moveleft4{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(400px);opacity: 0;}
}
@keyframes moveleft6{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(600px);opacity: 0;}
}

@keyframes moveright2{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(200px);opacity: 0;}
}
@keyframes moveright4{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(400px);opacity: 0;}
}
@keyframes moveright6{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(600px);opacity: 0;}
}

@keyframes movetop2{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(200px);opacity: 0;}
}
@keyframes movetop4{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(400px);opacity: 0;}
}
@keyframes movetop6{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(600px);opacity: 0;}
}

@keyframes movebottom2{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(-200px);opacity: 0;}
}
@keyframes movebottom4{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(-400px);opacity: 0;}
}
@keyframes movebottom6{
  0% {transform: translateX(0px);opacity: 1;}
  100% {transform: translateX(-600px);opacity: 0;}
}

#plus-animation {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  opacity: 0;            
  width: 100%;
}

.plus {
  animation: plus 0.7s;
}

@keyframes plus {
  0%{transform: translateY(0px);opacity: 1}
  100%{transform: translateY(-60px);opacity: 0}
}

.divmove {
  width: 200px;
  height: 200px ;
  font-size: 80px;
  line-height: 200px;
  transition: transform 0.1s;
}

.skewCell {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}